<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cálculo de IMC</title>
</head>
<body>
    <div class="container">
        <h1>CÁLCULO DE IMC</h1>
        <form action="" method="POST">
            <h1>PESO:</h1>
            <input type="text" name="peso">
            <br><br>
            <h1>ALTURA: </h1>
            <input type="text" name="altura">
            <br><br>
            <button type="submit" value="submit">submit</button>
            <h1>IMC: {{ imc }}</h1>
        </form>
    </div>
</body>
</html>